<h1>Input text to be used for generation</h1>
<br><br>

{% if entered_text_start %}
Start of the text currently used for generation: {{ entered_text_start }}
<br>
Go to the <a href="{% url 'generator_app:generator_page' %}">generator page</a>
{% else %}
No text for use in generation was entered yet!
{% endif %}

<br><br>

{% if error_message %}<p style="color:rgb(255,0,0);"><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'generator_app:submit_input' %}" method="post" id='text_form'>
    {% csrf_token %}
    <label for="typed_text">Enter text here:</label><br>
    <textarea rows = "8" cols = "80" name = "typed_text" id="typed_text"></textarea>
    <br><br>

    <label for="typed_text">Alternatively, you can upload a .txt file here:</label><br>
    <input type="file" id="txt_file" name="txt_file" accept=".txt">
    <br><br>

    Advanced settings:
    <br>
    <input type="checkbox" id="separate_comas" name="separate_comas" value="separate_comas" {{ coma_cbox_status }}>
    <label for="separate_comas">Count punctuation as separate words</label>
    <br>
    <input type="checkbox" id="remove_numbers" name="remove_numbers" value="remove_numbers" {{ numbers_cbox_status }}>
    <label for="remove_numbers">Replace numbers with "NUMBER"</label>
    <br>

    <br>
    <input type="submit" value="Submit">
</form>
 
<br><br>
<a href="{% url 'generator_app:clear_session' %}">Clear all data</a>
